/* @media (max-width:767px){
    .OurPartners .card,.custompkgcard{
        margin-bottom:1.5rem
    }
    .footer.footerAI,.left_banner_txt,footer.footerAI{
        text-align:center
    }
    .customtabs li{
        width:45.5%
    }
    .OurPartners .card{
        padding:2rem
    }
    .left_banner_txt{
        display:none;
        margin-bottom:1rem
    }
    .socialicons{
        justify-content:center
    }
    .footerleft{
        margin-top:1rem
    }
    ul.book_now_btn{
        margin:1rem 0
    }
    a.nav-link.active:after{
        width:50px
    }
    .OurPartners,.hidemob{
        display:none
    }
    .hidedesk{
        display:block
    }
    .copyright{
        margin-top:2rem
    }
    section.OurPartners .card img{
        width:60%;
        margin:0 auto
    }
    .top_form_div h5{
        font-size:1rem;
        margin-top:0
    }
    .top_form_div p{
        margin-bottom:8px
    }
    .modal.custommodalform input,select{
        height:43px
    }
}
@media (min-width:768px) and (max-width:1024px){
    .customtabs li{
        width:31%
    }
    .left_banner_txt{
        text-align:center;
        margin-bottom:1rem
    }
}
@media (max-width:220px){
    .customtabs li{
        width:46%
    }
} */



/* 4 march 2023  */
@media(max-width:991px){
    .phoneemailmain{
        justify-content: space-between !important;
        padding: 0px 20px;
    }
    section.package_box {
        overflow: hidden;
    }

}
@media(max-width:478px){
    .innder_pages h2 {
        font-size: 24px !important;
    }
    .destinationfooter {
         display: block;
    }
    .mainSearchsection {
        width: 100%;
        margin-top: 20px;
    }
    .headerContent {
        padding: 10px;
    }
    .video-overlayupper {
        height: 75vh;
    }    
    .headerContent{
        display: block;
        width: 90%;
        margin: auto;
    }
    .mouse_scroll {
        margin-top: -350px;
    }
    .luxurystay {
        padding: 0px;
    }
    #simlar_tour button.owl-prev{
        position: static;
        margin-right: 4px;
    }
    #simlar_tour button.owl-next{
        position: static;
        margin-left: 4px;
    }

    .package.aos-init {
        margin-bottom: 70px;
        padding: 10px 10px 20px;
    }
    .package_box .left .discount {
        top: -7%;
        left: -3%;
    }
    .package_box h4 {
        font-size: 14px;
        line-height: 22px;
    }
    .footercustom{
        margin-top: 0px;
    }
    .owl-theme .owl-nav [class*=owl-] {
        height: 30px;
        width: 30px;
    }
    /* #simlar_tour button.owl-prev span {

        font-size: 30px;
    } */
    .proposed_hotels .right h5 {
        font-size: 15px;
    }
    .tour_highlights ul li {
        line-height: 25px;
        color: #3c3c3ccc;
        list-style-image: url(../img/planes.png);
        font-size: 15px;
        margin-bottom: 10px;
    }
    .faq.active .faq-text {
        line-height: 23px;
        font-size: 14px;
    }
    .similar_tour .heading h2{
        font-size: 23px;
    }
    .similar_tour {
        margin-top: 0px;
    }
    .destinationfooter .footercol-5 {
        width: 100%;
    }
    .proposed_hotels .right p {

        font-size: 14px;
    }

}